{% extends 'base.html' %}
{% load thumbnail %}
{% block container %}

<div class="page-header">
  <h1>{{ post.title }}</h1>
  <small>Postado por <span class='text-primary'>{{ post.author }}</span> em &nbsp<span class="glyphicon glyphicon-calendar"></span> {{ post.creation_date|date:"d/m/Y"}}</small>        
</div>
{% thumbnail post.image 400x300 crop as imagem %}
<p><img src='{{ MEDIA_URL }}{{ imagem }}' alt='{{ post.title }}' class='pull-left img-thumbnail margin-text'>
{{ post.content|linebreaksbr }}
</p>
{% endblock container %}
